// Footer
.footer{
    background-color: $c-purple-gray;
    padding: 30px;
    font-family: $ff-roboto;
    
    .footer__inner{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 16px 25px;
        align-items: flex-end;
    }

    .footer__cols{
        display: flex;
        flex-direction: column;
        
    }

    .footer__logo{
        width: 160px;
        height: 100%;
        display: block;

        img{
            width: 100%;
            height: 100%;
        }
    }

    .footer__inner .nav-menu .nav{
        flex-direction: column;
    }
}