/* Header */
.header{
    padding: 30px;
    background-color: $c-light-gray;
    font-family: $ff-roboto;

    .header__inner{
        display: flex;
        flex-direction: row;
        padding: 16px 25px;
        background-color: $c-purple-gray;
        justify-content: space-between;
        align-items: center;
        border: 1px solid transparent;
        border-radius: 5px;
    }

    .header__logo{
        width: 160px;
        height: 100%;
        display: block;

        img{
            width: 100%;
            height: 100%;
        }
    }
}