/* Shell */
.shell{
    max-width: 1600px;
    padding-left: 35px;
    padding-right: 35px;
    margin: 0 auto;
    height: 100%;
}

// Shell--lg
.shell--lg{
    max-width: 100%;
    padding: unset;
    margin: 0 auto;
    height: 100%;
}