/* Navigation Component */
.nav-menu .nav{
    display: flex;
    flex-direction: row;
    margin-right: -15px;
}

.nav-menu .nav li{
    padding: 15px;
}

.nav-menu .nav li a{
    font-size: 20px;
    transition: opacity var(--t-duration) ease;
    opacity: 1;
}

.nav-menu .nav li a:hover{
    opacity: .7;
}