/* Base Styles */
body{
    font-family: $ff-roboto;
}

h1,
.h1{
    font-size: 48px;
}

h2,
.h2{
    font-size: 40px;
}

h3,
.h3{
    font-size: 32px;
}

h4,
.h4{
    font-size: 28px;
}

h5,
.h5{
    font-size: 20px;
}

h6,
.h6{
    font-size: 16px;
}

p {
    font-size: 14px;
    color: $c-black;
}

a{
    text-decoration: none;
    font-size: 14px;
    color: $c-black;
}

body:before {
	pointer-events: none;
	z-index: 999;
	position: fixed;
	opacity: 0;
	transition: opacity .3s ;
	content: '';
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255, 255, 255, .8);
}

body:after {
	pointer-events: none;
	z-index: 1000;
	position: fixed;
	content: '';
	opacity: 0;
	transition:  opacity .3s;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 100px;
	height: 100px;
	background: url('../../images/svg/spinner.svg') 0 0 no-repeat;
	background-size: cover;
}   

body.is-loading:before ,
body.is-loading:after {
	pointer-events: initial;
	opacity: 1;
}
