// Fonts
$ff-sans-serif : 'Helvetica Neue', Helvetica, Arial, sans-serif;
$ff-serif      : Georgia, 'Times New Roman', Times, serif;
$ff-roboto: 'Roboto', $ff-sans-serif;

// Variables
$c-dark-gray: #989c99;
$c-light-gray: #d4d6d5;
$c-black: #000000;
$c-white: #ffffff;
$c-purple-gray: #f0ebef;

// Transitions
$t-duration: .3s;

// Mobile Breakpoints
$xl-large: 1399px;
$large: 1199px;
$medium: 1023px;
$tablet: 767px;
$mobile: 480px;
$xs-mobile: 320px;
